<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
	<Product Id="*" Name="PaunPacker" Language="1033" Version="1.0.0.0" Manufacturer="PaunPacker" UpgradeCode="1d4c2dbc-efc1-4287-8737-6f74d3401550">
		<Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine" />
    
    <Icon Id="icon.ico" SourceFile="..\..\PaunPacker.GUI\icon.ico"/>
    <Property Id="ARPPRODUCTICON" Value="icon.ico" />
    
		<MajorUpgrade DowngradeErrorMessage="A newer version of PaunPacker is already installed." />
		<MediaTemplate EmbedCab="yes"/>
    <UIRef Id="WixUI_Mondo" />
    <WixVariable Id="WixUILicenseRtf" Value="TestLicenseAgreement.rtf" />
    
		<Feature Id="ProductFeature" Title="PaunPacker" Level="1">
			<ComponentGroupRef Id="ProductComponents" />
      <ComponentGroupRef Id="HeatGenerated" />
      <ComponentRef Id="ApplicationShortcut" />
      <ComponentRef Id="ApplicationShortcutDesktop" />
      <ComponentRef Id="ProgramFilesUn"/>
		</Feature>
	</Product>

	<Fragment>
    <Directory Id="TARGETDIR" Name="SourceDir">

      <Directory Id="ProgramFilesFolder">
        <Directory Id="INSTALLFOLDER" Name="PaunPacker"/>
      </Directory>

      <Directory Id="ProgramMenuFolder">
        <Directory Id="ApplicationProgramsFolder" Name="PaunPacker" />
      </Directory>
      
      <Directory Id="DesktopFolder" Name="Desktop"/>
      
    </Directory> 
	</Fragment>

  <Fragment>
    <DirectoryRef Id="ApplicationProgramsFolder">
      <Component Id="ApplicationShortcut" Guid="793b95ea-1c25-425f-9bb7-45173b33b59e">
        <Shortcut Id="ApplicationStartMenuShortcut" Name="PaunPacker" Description="PaunPacker - Texture Atlas Generator" Target="[INSTALLFOLDER]PaunPacker.GUI.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveApplicationProgramsFolder" Directory="ApplicationProgramsFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\PaunPacker" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="DesktopFolder">
      <Component Id="ApplicationShortcutDesktop" Guid="5c2d27c6-db44-4b4d-9570-1c5733e8f803">
        <Shortcut Id="ApplicationDesktopShortcut" Name="PaunPacker" Description="PaunPacker - Texture Atlas Generator" Target="[INSTALLFOLDER]PaunPacker.GUI.exe" WorkingDirectory="INSTALLFOLDER" />
        <RemoveFolder Id="RemoveDesktopFolder" Directory="DesktopFolder" On="uninstall" />
        <RegistryValue Root="HKCU" Key="Software\PaunPacker" Name="installed" Type="integer" Value="1" KeyPath="yes" />
      </Component>
    </DirectoryRef>
    <DirectoryRef Id="ProgramFilesFolder">
      <Component Id="ProgramFilesUn" Guid="9835939e-1547-4784-a42f-58b0cf262f53">
        <RemoveFolder Id="RemoveProgramFilesFolder" Directory="ProgramFilesFolder" On="uninstall"/>
      </Component>
    </DirectoryRef>
  </Fragment>

  <Fragment>
		<ComponentGroup Id="ProductComponents" Directory="INSTALLFOLDER">
			<!-- TODO: Remove the comments around this Component element and the ComponentRef below in order to add resources to this installer. -->
      
		</ComponentGroup>
	</Fragment>
</Wix>
